$bg-color: #212121;
$surface-color: #696977;
$primary-color: #F87060;
$text-color: white;
$title-font: "Bungee", cursive;
$content-font: "Mullish", sans-serif;

$xl: 80em; // 4k/hi-res desktop
$lg: 64em; // 1080/hi-res laptops
$med: 50em; // hi-res tablets/low-res laptops
$sm: 28em; // mobile/low-res tablets
$phone-height: 600px;

@mixin responsive($query)
{
    @media only screen and (min-width: $query) and (min-height: $phone-height)
    {
        @content;
    }
}

// makes require mobile device height
@mixin responsiveMobile($query)
{
    @media only screen and (min-width: $query) and (max-height: $phone-height)
    {
        @content;
    }
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html, body
{
    height: 100%;
}

body
{
    background-color: $bg-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: $title-font;
}

main
{
    border: 1px solid $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 100px;

    width: 100%; // new
    flex-wrap: wrap; // new
    padding: 50px 30px; // new
    flex-direction: column;

    @include responsiveMobile($med)
    {
        background-color: blue;
        padding: 0;
        margin: 0;
        flex-direction: row;
        height: 100%;
    }

    @include responsive($med)
    {
        //background-color: orange;
        padding: 100px 10px; // new

        & > section
        {
            //margin: 200px 0;
        }
    }

    @include responsive($lg)
    {
        //background-color: red;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 80px 20px;
    }

    @include responsive($xl)
    {
        //background-color: purple;
    }

    section
    {
        display: flex;
        flex-direction: column;
        //margin: 0 20px;
        border: 1px solid $primary-color;
        padding: 20px 25px;
        border-radius: 20px;
        margin: 0 20px 30px 20px; // new

        label
        {
            margin-bottom: 10px;
            font-family: $title-font;
            text-transform: uppercase;
            color: $primary-color;
            font-weight: bold;
        }

        textarea, select
        {
            padding: 7px 5px;
            font-size: 12px;
            font-family: $content-font;
            font-weight: bold;
            letter-spacing: 1px;
            background-color: transparent;
            color: $text-color;
            border: 1px solid $primary-color;
            border-radius: 5px;
            outline: none;
        }

        #rand-voice-button, #reset-button
        {
            margin-top: 25px;
        }
    }

    #text-section
    {
        textarea
        {
            resize: none;
        }
    }

    #voice-section
    {

    }

    #property-section
    {
        .property-row
        {
            display: flex;
            align-items: center;

            label
            {
                margin: 2px 5px 2px 0;
                font-size: 12px;
                font-family: $content-font;
            }

            &:first-of-type
            {
                margin-top: 10px;
            }

            &:last-of-type
            {
                margin-top: 5px;
            }
        }
    }

    button
    {
        background-color: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 20px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px 20px;
        margin: 0 20px;
        font-family: $title-font;
    }

    button, label
    {
        font-size: 15px;
        letter-spacing: 3px;
    }
}